@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.first-screen {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 140px;
}
.first-screen__intro {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.first-screen__left {
  width: 50%;
}
.first-screen__title {
  font-size: 40px;
  font-family: "ProximaNova";
  text-transform: uppercase;
  max-width: 700px;
  color: var(--white-color);
  line-height: 1.4em;
  letter-spacing: 2px;
  margin: 0px 0px 30px 0px;
}
.first-screen__subtitle {
  line-height: 1.2rem;
}
.first-screen__btn {
  display: inline-block;
  background: linear-gradient(90deg, #FFDD2D, #FFC42D);
  color: var(--main-color);
  margin-top: 40px;
}
.first-screen__right {
  position: relative;
  height: 547px;
  overflow: hidden;
}
.first-screen__anim {
  position: relative;
  width: 890px;
  top: -160px;
  right: -10px;
}

.list {
  display: flex;
  margin-top: 80px;
  gap: 40px;
}
.list__top {
  padding-left: 10px;
  margin-bottom: 7px;
  font-family: "ProximaNova";
  font-size: 28px;
  color: var(--yellow);
  border-left: 3px solid var(--yellow);
}
.list__btm {
  padding-left: 13px;
  font-size: 18px;
}

.sm {
  font-size: 20px;
}

@media (max-width: 1440px) {
  .first-screen__title {
    font-size: 38px;
    max-width: 650px;
    margin: 0px 0px 25px 0px;
  }
  .first-screen__subtitle {
    line-height: 18px;
    line-height: 1.6rem;
  }
  .first-screen__btn {
    margin-top: 30px;
  }
  .first-screen__intro {
    gap: 20px;
  }
  .first-screen__anim {
    width: 700px;
    top: -100px;
    right: 70px;
  }
  .first-screen__right {
    height: 445px;
    width: 550px;
  }
  .first-screen__left {
    width: 49%;
  }
  .list {
    margin-top: 50px;
    gap: 40px;
  }
  .list__top {
    padding-left: 10px;
    margin-bottom: 7px;
    font-size: 25px;
  }
  .list__btm {
    padding-left: 13px;
    font-size: 16px;
  }
  .sm {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .first-screen {
    padding-top: 100px;
  }
  .first-screen__title {
    font-size: 26px;
    max-width: 700px;
    margin: 0px 0px 25px 0px;
  }
  .first-screen__subtitle {
    font-size: 16px;
    line-height: 1.6rem;
  }
  .first-screen__btn {
    margin-top: 25px;
    padding: 0px 0px 0px 0px;
  }
  .first-screen__intro {
    gap: 20px;
  }
  .first-screen__anim {
    width: 600px;
    top: -70px;
    right: 40px;
  }
  .first-screen__right {
    height: 410px;
    width: 550px;
  }
  .first-screen__left {
    width: 52%;
  }
  .list {
    margin-top: 35px;
    gap: 25px;
  }
  .list__top {
    padding-left: 10px;
    margin-bottom: 7px;
    font-size: 24px;
  }
  .list__btm {
    padding-left: 13px;
    font-size: 15px;
  }
  .sm {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding-top: 100px;
  }
  .first-screen__title {
    font-size: 26px;
    max-width: 700px;
    margin: 0px 0px 15px 0px;
  }
  .first-screen__subtitle {
    font-size: 16px;
    line-height: 1.6rem;
  }
  .first-screen__btn {
    margin-top: 25px;
    padding: 0px 0px 0px 0px;
  }
  .first-screen__intro {
    gap: 10px;
  }
  .first-screen__anim {
    width: 360px;
    top: -20px;
    right: 20px;
  }
  .first-screen__right {
    height: auto;
    width: 300px;
  }
  .first-screen__left {
    width: 55%;
  }
  .list {
    margin-top: 35px;
    gap: 25px;
  }
  .list__top {
    padding-left: 10px;
    margin-bottom: 7px;
    font-size: 24px;
  }
  .list__btm {
    padding-left: 13px;
    font-size: 15px;
  }
  .sm {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .first-screen {
    padding-top: 100px;
    height: auto;
  }
  .first-screen__title {
    font-size: 21px;
    max-width: none;
    margin: 0px 0px 10px 0px;
  }
  .first-screen__subtitle {
    font-size: 14px;
    line-height: 1.6rem;
  }
  .first-screen__btn {
    margin-top: 20px;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .first-screen__intro {
    gap: 10px;
    flex-direction: column;
  }
  .first-screen__anim {
    width: 360px;
    top: -20px;
    right: 20px;
  }
  .first-screen__right {
    height: auto;
    width: 100%;
  }
  .first-screen__left {
    width: 100%;
    text-align: center;
  }
  .list {
    margin-top: 30px;
    gap: auto;
    text-align: start;
    justify-content: space-between;
  }
  .list__top {
    padding-left: 8px;
    margin-bottom: 7px;
    font-size: 22px;
  }
  .list__btm {
    padding-left: 10px;
    font-size: 14px;
  }
  .sm {
    font-size: 14px;
  }
}
.header {
  display: flex;
  align-items: center;
  padding: 0px 40px 0px 40px;
  margin: 0px auto;
  width: 1530px;
  position: fixed;
  top: 40px;
  left: 0%;
  right: 0%;
  z-index: 100;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  font-family: "ProximaNova";
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  transition: all 0.5s;
}
.header__row {
  display: flex;
  padding: 25px 0px 25px 0px;
  width: 100%;
  max-width: 1530px;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.header__nav {
  display: flex;
  gap: 40px;
}
.header__nav-list {
  display: flex;
  width: 100%;
  gap: 40px;
}
.header__nav-list li {
  position: relative;
}
.header__nav-list > li:hover .header__sub-nav-list {
  display: block;
}
.header__nav-list > li:hover ._yellow-link {
  color: var(--yellow);
}
.header__nav-list > li:hover .link-svg {
  transform: rotate(180deg);
  stroke: var(--yellow);
}
.header .link-wrap {
  display: flex;
  align-items: center;
}
.header .link-svg {
  margin-left: 5px;
  transition: all 0.2s linear;
}
.header__sub-nav-list {
  display: none;
  position: absolute;
  left: -15px;
  top: 20px;
  padding: 15px 0px 0px 0px;
  width: 200px;
}
.header .nav-list-wrap > li {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}
.header .nav-list-wrap > li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.header .nav-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--main-color);
}
.header ._sub-link {
  font-family: "Gilroy";
  color: #FFFFFF;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}
.header ._sub-link:hover {
  font-family: "Gilroy";
  color: #FFFFFF;
  opacity: 1;
}
.header__link {
  color: var(--white-color);
  font-size: 18px;
  transition: color 0.35s ease;
}
.header__link:hover {
  color: var(--yellow);
}
.header__btns {
  display: flex;
  gap: 20px;
}
.header__btn {
  color: var(--white-color);
  font-size: 16px;
  border-radius: 15px;
}

.burger {
  display: none;
}

.burger-menu {
  display: none;
}

.header._fixed {
  width: 100%;
  border-radius: 0px;
  border-top-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  transform: translateY(-40px);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.btn-lang {
  border: 2px solid var(--white-color);
  padding: 15px 15px;
  transition: all 0.35s ease;
}
.btn-lang:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn-yellow {
  border: 2px solid var(--yellow);
  padding: 15px 25px;
  color: var(--yellow);
  transition: all 0.35s ease;
}
.btn-yellow:hover {
  background: var(--yellow);
  color: var(--main-color);
}

@media (max-width: 1440px) {
  .header {
    width: 1170px;
    padding: 0px 30px 0px 30px;
    top: 30px;
  }
  .header__link {
    display: block;
    font-size: 16px;
  }
  .header__row {
    max-width: 1170px;
    padding: 20px 0px 20px 0px;
  }
  .btn-lang {
    padding: 14px 14px;
    font-size: 14px;
  }
  .btn-yellow {
    padding: 14px 24px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 950px;
    padding: 0px 20px 0px 20px;
  }
  .header__link {
    display: block;
    font-size: 15px;
  }
  .header__row {
    max-width: 950px;
  }
  .btn-lang {
    padding: 14px 14px;
    font-size: 14px;
  }
  .btn-yellow {
    padding: 14px 24px;
    font-size: 14px;
  }
  .header._fixed {
    transform: translateY(-30px);
  }
}
@media (max-width: 768px) {
  .header {
    width: 708px;
    padding: 0px 20px 0px 20px;
    z-index: 101;
    top: 0;
    width: 100%;
    border-radius: 0px;
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
  }
  .header__link {
    display: block;
    font-size: 28px;
  }
  .header__row {
    max-width: 708px;
  }
  .header__nav {
    display: none;
    gap: 40px;
  }
  .header__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header__btns {
    display: none;
    flex-grow: 1;
    align-items: end;
    gap: 15px;
    margin-top: 30px;
  }
  .header__btns_mob {
    display: flex;
  }
  .btn-lang {
    padding: 14px 14px;
    font-size: 14px;
  }
  .btn-yellow {
    padding: 14px 24px;
    font-size: 14px;
  }
  .header._fixed {
    transform: translateY(0px);
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 16px;
    cursor: pointer;
  }
  .burger span,
.burger::before,
.burger::after {
    left: 0;
    position: absolute;
    height: 13%;
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s ease;
    background-color: var(--yellow);
  }
  .burger::before,
.burger::after {
    content: "";
  }
  .burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger._active::after {
    bottom: 48%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 94px 0px 20px 0px;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background: #1A1A1A;
    transition: all 0.5s ease;
    opacity: 0.98;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    overflow: auto;
  }
  .burger-menu._active {
    left: 0;
  }
  .social-btns {
    margin-top: 30px;
  }
  .header-ic {
    width: 60px;
    height: 60px;
  }
  .btn-yellow {
    border: 0px solid var(--yellow);
    padding: 18px 25px;
    font-family: "ProximaNova";
    color: var(--main-color);
    transition: all 0s ease;
    background: linear-gradient(90deg, #FFDD2D, #FFC42D);
  }
  .btn-yellow:hover {
    background: var(--yellow);
    color: var(--main-color);
  }
  .btn-lang {
    border: 1px solid var(--yellow);
    padding: 18px 20px;
    transition: all 0.35s ease;
    color: var(--yellow);
    font-family: "ProximaNova";
  }
  .btn-lang:hover {
    color: var(--yellow);
    border-color: var(--yellow);
  }
}
.cooperate {
  padding-bottom: 120px;
}
.cooperate__row {
  display: flex;
  justify-content: space-between;
}
.cooperate__item {
  display: flex;
  flex: 0 0 31%;
}
.cooperate__item:hover .cooperate__number-box {
  color: var(--yellow);
}
.cooperate__number-box {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 180px;
  line-height: 0.82em;
  color: transparent;
  -webkit-text-stroke: 2px var(--yellow);
  transition: color 0.3s linear;
}
.cooperate__number {
  margin-right: 25px;
}
.cooperate__title {
  font-family: "ProximaNova";
  font-size: 28px;
  line-height: 1.1em;
  color: var(--white-color);
  margin-bottom: 10px;
}
.cooperate__text {
  line-height: 1.3em;
}

@media (max-width: 1440px) {
  .cooperate {
    padding-bottom: 100px;
    padding-top: 70px;
  }
  .cooperate__number-box {
    font-size: 160px;
  }
  .cooperate__title {
    font-size: 25px;
  }
  .cooperate__text {
    font-size: 18px;
  }
  .cooperate__number {
    margin-right: 20px;
  }
  .cooperate__item {
    display: flex;
    flex: 0 0 32%;
  }
}
@media (max-width: 1024px) {
  .cooperate {
    padding-bottom: 80px;
    padding-top: 50px;
  }
  .cooperate__row {
    flex-wrap: wrap;
    gap: 25px;
  }
  .cooperate__number-box {
    font-size: 120px;
    text-align: end;
    margin-right: 15px;
  }
  .cooperate__number-box_first {
    padding: 0px 10px 0px 10px;
  }
  .cooperate__title {
    font-size: 24px;
  }
  .cooperate__text {
    font-size: 16px;
  }
  .cooperate__number {
    margin-right: 0px;
  }
  .cooperate__item {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .cooperate {
    padding-bottom: 80px;
    padding-top: 50px;
  }
  .cooperate__row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .cooperate__number-box {
    font-size: 120px;
    text-align: end;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .cooperate__number-box_first {
    padding: 0px 10px 0px 10px;
  }
  .cooperate__title {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .cooperate__text {
    font-size: 14px;
  }
  .cooperate__number {
    margin-right: 0px;
  }
  .cooperate__item {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.services {
  padding-bottom: 120px;
}
.services__row {
  display: flex;
  margin-left: 10vw;
  gap: 30px;
  overflow: auto;
}
.services__item {
  padding: 25px 30px;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  min-height: 500px;
  background: var(--light-bg);
  transition: background-color 0.4s ease;
  min-width: 360px;
  color: inherit;
}
.services__item:hover {
  background: var(--yellow);
}
.services__item:hover .services__wrap, .services__item:hover .services__title {
  color: var(--main-color);
}
.services__item:hover .services__btn {
  opacity: 1;
}
.services__item:hover .services__price {
  transform: translateY(-130%);
}
.services__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: color 0.4s ease;
  position: relative;
}
.services__title {
  margin-bottom: 10px;
  transition: color 0.4s ease;
}
.services__hidden-title {
  display: none;
}
.services__text {
  line-height: 1.3em;
  flex-grow: 1;
}
.services__price {
  font-family: "ProximaNova";
  font-size: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.4s ease;
}
.services__btn {
  color: var(--main-color);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.services__btn-text {
  margin-bottom: 3px;
}
.services__btn-icon {
  margin-left: 10px;
}

@media (max-width: 1440px) {
  .services {
    padding-bottom: 100px;
  }
  .services__text {
    font-size: 18px;
  }
  .services__item {
    min-height: 380px;
    padding: 25px 25px;
  }
  .services__price {
    font-size: 20px;
  }
  .services__btn-text {
    font-size: 16px;
    margin-bottom: 1px;
  }
}
@media (max-width: 1024px) {
  .services {
    padding-bottom: 80px;
  }
  .services__text {
    font-size: 16px;
  }
  .services__row {
    display: flex;
    margin: 0 auto;
    gap: 25px;
    overflow: visible;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__item {
    min-height: 300px;
    padding: 20px 20px;
    width: 48.6%;
    min-width: auto;
  }
  .services__title {
    margin-bottom: 8px;
  }
  .services__price {
    font-size: 18px;
  }
  .services__btn-text {
    font-size: 15px;
    margin-bottom: 2px;
  }
}
@media (max-width: 768px) {
  .services {
    padding-bottom: 80px;
  }
  .services__text {
    font-size: 16px;
  }
  .services__row {
    display: flex;
    margin: 0 auto;
    gap: 25px;
    overflow: visible;
    max-width: 708px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__item {
    min-height: 300px;
    padding: 20px 20px;
    width: 48.22%;
    min-width: auto;
  }
  .services__title {
    margin-bottom: 8px;
  }
  .services__price {
    font-size: 18px;
  }
  .services__btn-text {
    font-size: 15px;
    margin-bottom: 2px;
  }
}
@media (max-width: 450px) {
  .services {
    padding-bottom: 80px;
  }
  .services__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .services__row {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    overflow: visible;
    max-width: 330px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__item {
    min-height: 170px;
    padding: 15px 15px;
    width: 100%;
    min-width: auto;
  }
  .services__title {
    margin-bottom: 8px;
  }
  .services__price {
    font-size: 16px;
  }
  .services__btn-text {
    font-size: 14px;
    margin-bottom: 2px;
  }
}
@media (max-width: 320px) {
  .services {
    padding-bottom: 80px;
  }
  .services__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .services__row {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    overflow: visible;
    max-width: 330px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
  }
  .services__item {
    min-height: 170px;
    padding: 15px 15px;
    width: 100%;
    min-width: auto;
  }
  .services__title {
    margin-bottom: 8px;
  }
  .services__price {
    font-size: 16px;
  }
  .services__btn-text {
    font-size: 14px;
    margin-bottom: 2px;
  }
}
.title-h2 {
  font-family: "ProximaNova";
  font-size: 35px;
  line-height: 1.2em;
  max-width: 400px;
  margin-bottom: 50px;
  color: var(--white-color);
}

.h2-large {
  max-width: 600px;
}

.h2-tablet {
  max-width: 350px;
}

.title-h3 {
  font-family: "ProximaNova";
  font-size: 28px;
  line-height: 1.1em;
  color: var(--white-color);
}

.title-h4 {
  font-family: "ProximaNova";
  font-size: 22px;
  color: var(--white-color);
}

@media (max-width: 1440px) {
  .title-h2 {
    font-size: 32px;
  }
  .h2-large {
    max-width: 550px;
  }
  .title-h3 {
    font-size: 25px;
  }
  .title-h4 {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .title-h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .h2-large {
    max-width: 550px;
  }
  .title-h3 {
    font-size: 24px;
  }
  .title-h4 {
    font-size: 18px;
  }
  .h2-tablet {
    max-width: 230px;
  }
}
@media (max-width: 450px) {
  .title-h2 {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
  }
  .h2-large {
    max-width: none;
  }
  .title-h3 {
    font-size: 22px;
  }
  .title-h4 {
    font-size: 16px;
  }
  .h2-tablet {
    max-width: none;
  }
}
.banner {
  padding-bottom: 120px;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  border-radius: 25px;
  background-image: url(../media/bg-image-banner.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--main-color);
  text-align: center;
}
.banner__title {
  max-width: none;
  color: inherit;
  margin-bottom: 20px;
}
.banner__text {
  max-width: 460px;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.banner__btn {
  background: var(--main-color);
  color: var(--yellow);
}

.no-radius {
  border-radius: 0px;
}

@media (max-width: 1440px) {
  .banner {
    padding-bottom: 100px;
  }
  .banner__text {
    font-size: 18px;
  }
  .banner__btn {
    font-size: 16px;
  }
  .banner__wrap {
    padding: 50px 0px;
  }
}
@media (max-width: 1024px) {
  .banner {
    padding-bottom: 80px;
  }
  .banner__text {
    font-size: 16px;
  }
  .banner__btn {
    font-size: 15px;
  }
  .banner__wrap {
    padding: 40px 0px;
  }
}
@media (max-width: 768px) {
  .banner {
    padding-bottom: 80px;
  }
  .banner__text {
    font-size: 16px;
  }
  .banner__btn {
    font-size: 15px;
  }
  .banner__wrap {
    padding: 40px 40px;
  }
}
@media (max-width: 450px) {
  .banner {
    padding-bottom: 80px;
  }
  .banner__title {
    margin-bottom: 10px;
  }
  .banner__text {
    font-size: 14px;
  }
  .banner__btn {
    font-size: 14px;
    width: 100%;
  }
  .banner__wrap {
    padding: 30px 20px;
  }
}
.results {
  padding-bottom: 120px;
}
.results__wrap {
  display: flex;
  gap: 60px;
}
.results__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 120px;
  border-radius: 25px;
  border: 1px solid var(--border-color);
  background: var(--light-bg);
  position: relative;
  width: 100%;
  max-width: 490px;
  overflow: hidden;
}
.results__image-bg {
  position: absolute;
  left: -50%;
  bottom: -110%;
  z-index: 10;
  width: 500px;
  height: 500px;
  background: rgba(255, 221, 45, 0.15);
  border-radius: 50%;
  filter: blur(170px);
}
.results__img {
  display: block;
  max-width: 250px;
  position: relative;
  z-index: 11;
}
.results__row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.results__item {
  width: 47%;
}
.results__item:hover .results__item-check {
  background: var(--yellow);
}
.results__item:hover .results__item-icon {
  stroke: var(--main-color);
}
.results__item-top {
  display: flex;
}
.results__item-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  border: 1px solid var(--border-color);
  width: 48px;
  height: 48px;
  background: var(--light-bg);
  margin-right: 20px;
  transition: all 0.35s ease;
}
.results__item-icon {
  transition: all 0.35s ease;
}
.results__item-text {
  padding-left: 68px;
  line-height: 1.3em;
}

@media (max-width: 1440px) {
  .results {
    padding-bottom: 100px;
  }
  .results__item-text {
    font-size: 18px;
  }
  .results__item-check {
    width: 40px;
    height: 40px;
  }
  .results__item-icon {
    width: 20px;
  }
  .results__image {
    padding: 30px 75px;
  }
  .results__image-bg {
    left: -70%;
    bottom: -110%;
  }
}
@media (max-width: 1024px) {
  .results {
    padding-bottom: 80px;
  }
  .results__item {
    width: 100%;
  }
  .results__item-text {
    padding-left: 58px;
    font-size: 16px;
  }
  .results__item-check {
    width: 38px;
    height: 38px;
  }
  .results__item-icon {
    width: 20px;
  }
  .results__wrap {
    gap: 30px;
    justify-content: space-between;
    align-items: start;
  }
  .results__row {
    gap: 25px;
    width: 55%;
  }
  .results__image {
    flex-direction: row;
    padding: 30px 75px;
    width: 45%;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
  .results__image-bg {
    left: -70%;
    bottom: -110%;
  }
}
@media (max-width: 768px) {
  .results {
    padding-bottom: 80px;
  }
  .results__item {
    width: 100%;
  }
  .results__item-text {
    padding-left: 58px;
    font-size: 16px;
  }
  .results__item-check {
    width: 38px;
    height: 38px;
  }
  .results__item-icon {
    width: 20px;
  }
  .results__wrap {
    gap: 30px;
    justify-content: space-between;
    align-items: start;
  }
  .results__row {
    gap: 25px;
    width: 55%;
  }
  .results__image {
    flex-direction: row;
    padding: 30px 75px;
    width: 45%;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
  .results__img {
    max-width: 200px;
  }
  .results__image-bg {
    left: -70%;
    bottom: -110%;
  }
}
@media (max-width: 450px) {
  .results {
    padding-bottom: 80px;
  }
  .results__item {
    width: 100%;
  }
  .results__item-text {
    padding-left: 47px;
    font-size: 14px;
  }
  .results__item-check {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-right: 15px;
  }
  .results__item-icon {
    width: 15px;
  }
  .results__wrap {
    gap: 25px;
    justify-content: space-between;
    align-items: start;
    flex-direction: column-reverse;
  }
  .results__row {
    gap: 25px;
    width: 100%;
  }
  .results__image {
    flex-direction: row;
    padding: 25px 75px;
    width: 100%;
    top: 0px;
    position: relative;
  }
  .results__img {
    max-width: 180px;
  }
  .results__image-bg {
    left: -70%;
    bottom: -110%;
  }
}
.projects {
  padding-bottom: 120px;
}
.projects__row {
  display: flex;
  gap: 70px;
}
.projects__column-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  width: 50%;
}
.projects__item:hover .projects__title {
  color: var(--yellow);
}
.projects__item:hover .projects__img {
  scale: 1.04;
}
.projects__image-box {
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}
.projects__img {
  width: 100%;
  height: 650px;
  transition: scale 0.5s ease;
}
.projects__title {
  margin-bottom: 10px;
  transition: color 0.35s ease;
}
.projects__text {
  color: var(--text-color);
  line-height: 1.3em;
}
.projects__link {
  font-family: "ProximaNova";
  font-size: 20px;
  color: var(--yellow);
}
.projects__column-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  margin-top: 120px;
}

.link:hover .link__line-2 {
  width: 0%;
}
.link:hover .link__line {
  width: 100%;
}
.link__line-box {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.link__line {
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #FFDD2D, #FFC42D);
  transition: all 0.3s linear;
}
.link__line-2 {
  width: 20%;
  height: 2px;
  background: linear-gradient(90deg, #FFDD2D, #FFC42D);
  transition: all 0.3s linear;
}

@media (max-width: 1440px) {
  .projects {
    padding-bottom: 100px;
  }
  .projects__column-left {
    gap: 40px;
  }
  .projects__column-right {
    gap: 40px;
    margin-top: 100px;
  }
  .projects__text {
    font-size: 18px;
  }
  .projects__img {
    height: 495px;
  }
  .projects__row {
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .projects {
    padding-bottom: 80px;
  }
  .projects__column-left {
    gap: 30px;
  }
  .projects__column-right {
    gap: 30px;
  }
  .projects__text {
    font-size: 16px;
  }
  .projects__title {
    margin-bottom: 8px;
  }
  .projects__img {
    height: 400px;
  }
  .projects__image-box {
    margin-bottom: 15px;
  }
  .projects__row {
    display: flex;
    gap: 30px;
  }
  .projects__link {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .projects {
    padding-bottom: 80px;
  }
  .projects__column-left {
    gap: 30px;
  }
  .projects__column-right {
    gap: 30px;
    margin-top: 80px;
  }
  .projects__text {
    font-size: 16px;
  }
  .projects__title {
    margin-bottom: 8px;
  }
  .projects__img {
    height: 300px;
  }
  .projects__image-box {
    margin-bottom: 15px;
  }
  .projects__row {
    display: flex;
    gap: 30px;
  }
  .projects__link {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .projects {
    padding-bottom: 80px;
  }
  .projects__column-left {
    gap: 30px;
    width: 100%;
  }
  .projects__column-right {
    gap: 30px;
    margin-top: 0px;
    width: 100%;
  }
  .projects__text {
    font-size: 14px;
  }
  .projects__title {
    margin-bottom: 8px;
  }
  .projects__img {
    height: 290px;
  }
  .projects__image-box {
    margin-bottom: 15px;
  }
  .projects__row {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .projects__link {
    font-size: 14px;
    margin: 0px auto;
  }
}
.steps {
  padding-bottom: 120px;
}
.steps__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.steps__item {
  transition: background-color 0.35s ease;
  position: relative;
  display: flex;
  align-items: start;
  gap: 20px;
  width: 49%;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  padding: 25px 30px;
  background-color: var(--light-bg);
  overflow: hidden;
}
.steps__item:hover {
  background: var(--yellow);
}
.steps__item:hover .steps__title, .steps__item:hover .steps__text, .steps__item:hover .steps__number {
  color: var(--main-color);
}
.steps__title {
  margin-bottom: 10px;
  transition: color 0.35s ease;
}
.steps__number {
  font-size: 40px;
  color: var(--yellow);
  transition: color 0.35s ease;
}
.steps__text {
  color: var(--text-color);
  line-height: 1.3em;
  transition: color 0.35s ease;
}
.steps__btn {
  margin-top: 15px;
  color: var(--yellow);
}
.steps__btn-text {
  margin-bottom: 3px;
  margin-right: 5px;
}
.steps__img {
  max-width: 240px;
}
.steps__bg-gradient {
  position: absolute;
  right: -23%;
  width: 300px;
  height: 100%;
  background: rgba(255, 221, 45, 0.15);
  border-radius: 50%;
  filter: blur(170px);
  z-index: -1;
}

.reword {
  width: 210px;
}

@media (max-width: 1440px) {
  .steps {
    padding-bottom: 100px;
  }
  .steps__item {
    width: 48.7%;
    padding: 25px 25px;
  }
  .steps__number {
    font-size: 38px;
  }
  .steps__text {
    font-size: 18px;
  }
  .steps__img {
    max-width: 180px;
  }
}
@media (max-width: 1024px) {
  .steps {
    padding-bottom: 80px;
  }
  .steps__wrap {
    gap: 25px;
  }
  .steps__item {
    width: 100%;
    padding: 20px 20px;
  }
  .steps__number {
    font-size: 26px;
  }
  .steps__text {
    font-size: 16px;
  }
  .steps__img {
    max-width: 180px;
  }
  .steps__btn-text {
    font-size: 15px;
    margin-bottom: 3px;
    margin-right: 5px;
  }
}
@media (max-width: 450px) {
  .steps {
    padding-bottom: 80px;
  }
  .steps__wrap {
    gap: 25px;
  }
  .steps__item {
    width: 100%;
    padding: 15px;
    flex-direction: column;
  }
  .steps__number {
    font-size: 24px;
  }
  .steps__text {
    font-size: 14px;
  }
  .steps__img {
    max-width: 120px;
  }
  .steps__btn-text {
    font-size: 15px;
    margin-bottom: 3px;
    margin-right: 5px;
  }
}
.footer {
  padding: 25px 0px;
  border-top: 1px solid var(--border-color);
  background: var(--light-bg);
}
.footer__wrap {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  display: flex;
  gap: 40px;
}
.footer__nav_subnav {
  gap: 30px;
}
.footer__subtop {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
.footer__link {
  font-family: "ProximaNova";
  color: var(--white-color);
  font-size: 18px;
  transition: color 0.35s ease;
}
.footer__link:hover {
  color: var(--yellow);
}
.footer__link_sub {
  font-family: "Gilroy";
  color: var(--white-color);
  opacity: 0.7;
  transition: opacity 0.2s linear;
}
.footer__link_sub:hover {
  color: var(--white-color);
  opacity: 1;
}
.footer__social {
  display: flex;
  gap: 15px;
}
.footer__social_mob {
  display: none;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.footer__copywright {
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail {
  color: var(--white-color);
  transition: color 0.35s ease;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail:hover {
  color: rgb(255, 255, 255);
}
.footer__privacy {
  color: var(--white-color);
  transition: color 0.35s ease;
  color: rgba(255, 255, 255, 0.6);
}
.footer__privacy:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 1440px) {
  .footer__wrap {
    padding-bottom: 25px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__copywright {
    font-size: 16px;
  }
  .footer__mail {
    font-size: 16px;
  }
  .footer__privacy {
    font-size: 16px;
  }
  .footer__bottom {
    padding-top: 25px;
  }
}
@media (max-width: 1024px) {
  .footer__wrap {
    padding-bottom: 25px;
  }
  .footer__top {
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
  }
  .footer__subtop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__social {
    display: none;
    gap: 15px;
  }
  .footer__social_mob {
    display: flex;
  }
  .footer__icon {
    display: flex;
    width: 40px;
    height: 40px;
  }
  .footer__copywright {
    font-size: 16px;
  }
  .footer__mail {
    font-size: 16px;
  }
  .footer__privacy {
    font-size: 16px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
  }
}
@media (max-width: 450px) {
  .footer__wrap {
    padding-bottom: 25px;
    gap: 20px;
  }
  .footer__top {
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .footer__subtop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__social {
    display: none;
    gap: 15px;
  }
  .footer__social_mob {
    display: flex;
  }
  .footer__icon {
    display: flex;
    width: 40px;
    height: 40px;
  }
  .footer__copywright {
    font-size: 14px;
  }
  .footer__mail {
    font-size: 14px;
  }
  .footer__privacy {
    font-size: 14px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
  }
}
.questions {
  padding-bottom: 120px;
}
.questions__wrap {
  position: relative;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  padding: 40px;
  background: var(--light-bg);
  border-radius: 25px;
  border: 1px solid var(--border-color);
  min-height: 500px;
  overflow: hidden;
}
.questions__intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 31%;
}
.questions__title {
  max-width: none;
  margin-bottom: 20px;
}
.questions__subtitle {
  line-height: 1.3em;
  padding-bottom: 30px;
}
.questions__btn {
  background: var(--yellow);
  color: var(--main-color);
}
.questions__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 69%;
}
.questions__question {
  border-radius: 15px;
  border: 1px solid var(--border-color);
  background: var(--light-bg);
}
.questions__question-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  cursor: pointer;
}
.questions__question-head:hover .questions__question-title {
  color: var(--yellow);
}
.questions__question-title {
  transition: color 0.35s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.questions__question-icon {
  transition: transform 0.4s ease;
}
.questions__question-body {
  padding: 0 25px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in;
  overflow: auto;
}
.questions__question-text {
  padding-bottom: 20px;
  line-height: 1.3em;
}
.questions__bg-img {
  position: absolute;
  left: -2%;
  bottom: -23%;
  z-index: 1;
}
.questions__bg-gradient {
  position: absolute;
  left: -17%;
  bottom: -67%;
  z-index: -1;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: rgba(255, 221, 45, 0.15);
  filter: blur(170px);
}

.rotate .questions__question-icon {
  transform: rotate(180deg);
}

@media (max-width: 1440px) {
  .questions {
    padding-bottom: 100px;
  }
  .questions__wrap {
    padding: 30px;
    gap: 60px;
  }
  .questions__intro {
    width: 36%;
  }
  .questions__content {
    width: 64%;
  }
  .questions__bg-img {
    left: -2%;
    bottom: -23%;
  }
  .questions__subtitle {
    font-size: 18px;
    padding-bottom: 25px;
  }
  .questions__question-head {
    padding: 20px;
  }
  .questions__question-text {
    font-size: 18px;
  }
  .questions__btn {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .questions {
    padding-bottom: 80px;
  }
  .questions__wrap {
    padding: 20px;
    gap: 30px;
    flex-direction: column;
  }
  .questions__intro {
    width: 39%;
  }
  .questions__content {
    width: 100%;
    gap: 15px;
  }
  .questions__bg-img {
    position: absolute;
    top: 5%;
    left: 77%;
    max-width: 200px;
  }
  .questions__bg-gradient {
    left: 80%;
    top: -67%;
    height: 500px;
    width: 500px;
  }
  .questions__subtitle {
    font-size: 18px;
    padding-bottom: 25px;
  }
  .questions__question-head {
    padding: 15px;
  }
  .questions__question-body {
    padding: 0 15px;
  }
  .questions__question-text {
    font-size: 16px;
  }
  .questions__btn {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .questions {
    padding-bottom: 80px;
  }
  .questions__wrap {
    padding: 15px;
    gap: 30px;
    flex-direction: column;
  }
  .questions__intro {
    width: 100%;
  }
  .questions__title {
    text-align: left;
    margin-bottom: 10px;
  }
  .questions__content {
    width: 100%;
    gap: 15px;
  }
  .questions__bg-img {
    position: absolute;
    top: 5%;
    left: 77%;
    max-width: 200px;
    display: none;
  }
  .questions__bg-gradient {
    left: 80%;
    top: -67%;
    height: 500px;
    width: 500px;
  }
  .questions__subtitle {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .questions__question-title {
    margin-right: 15px;
  }
  .questions__question-head {
    padding: 10px;
    align-items: start;
  }
  .questions__question-body {
    padding: 0 10px;
  }
  .questions__question-icon {
    margin-top: 3px;
  }
  .questions__question-text {
    font-size: 14px;
  }
  .questions__btn {
    font-size: 14px;
    width: 100%;
  }
}
.modal {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 105;
  background-color: rgba(26, 26, 26, 0.9490196078);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}
.modal__close-bg {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal__content {
  display: flex;
  position: relative;
  max-width: 550px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  padding: 35px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  top: -100%;
  transform: perspective(800px) rotateX(90deg);
  transition: all 0.6s ease;
}
.modal__close-icon {
  position: absolute;
  top: 37px;
  right: 30px;
  cursor: pointer;
}

.modal._open {
  opacity: 1;
  pointer-events: auto;
}
.modal._open .modal__content {
  top: 0%;
  transform: perspective(800px);
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__title {
  font-family: "ProximaNova";
  font-size: 25px;
  margin-bottom: 35px;
  text-align: center;
}
.form__change-title {
  color: var(--yellow);
  text-transform: lowercase;
}
.form__item {
  position: relative;
  width: 100%;
  max-width: 350px;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
}
.form__item_first {
  margin-bottom: 30px;
}
.form__input-img {
  position: absolute;
  right: 15px;
  top: 13px;
}
.form__lable {
  position: absolute;
  top: 17px;
  left: 15px;
  z-index: 1;
  transition: all 0.3s ease;
  pointer-events: none;
}
.form__input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: all 0.3s ease;
}
.form__input:focus {
  border-color: var(--yellow);
  background-color: rgba(255, 255, 255, 0);
}
.form__input:focus ~ .form__lable {
  top: -5px;
  font-size: 12px;
  background-color: var(--main-color);
  padding: 0 5px;
  color: var(--yellow);
}
.form__input:focus ~ .form__input-img {
  fill: var(--yellow);
  opacity: 1;
}
.form__input:not(:-moz-placeholder-shown) ~ .form__lable {
  top: -5px;
  font-size: 12px;
  background-color: var(--main-color);
  padding: 0 5px;
  color: var(--yellow);
}
.form__input:not(:-ms-input-placeholder) ~ .form__lable {
  top: -5px;
  font-size: 12px;
  background-color: var(--main-color);
  padding: 0 5px;
  color: var(--yellow);
}
.form__input:not(:placeholder-shown) ~ .form__lable {
  top: -5px;
  font-size: 12px;
  background-color: var(--main-color);
  padding: 0 5px;
  color: var(--yellow);
}
.form__input:not(:-moz-placeholder-shown) ~ .form__input-img {
  fill: var(--yellow);
  opacity: 1;
}
.form__input:not(:-ms-input-placeholder) ~ .form__input-img {
  fill: var(--yellow);
  opacity: 1;
}
.form__input:not(:placeholder-shown) ~ .form__input-img {
  fill: var(--yellow);
  opacity: 1;
}
.form__input:not(:-moz-placeholder-shown) {
  background-color: rgba(255, 255, 255, 0);
}
.form__input:not(:-ms-input-placeholder) {
  background-color: rgba(255, 255, 255, 0);
}
.form__input:not(:placeholder-shown) {
  background-color: rgba(255, 255, 255, 0);
}
.form__button {
  margin-top: 30px;
  padding: 16px 25px;
  background: linear-gradient(90deg, #FFDD2D, #FFC42D);
  border-radius: 5px;
  font-family: "ProximaNova";
}

:root {
  --main-color: #1A1A1A;
  --white-color: #fff;
  --yellow: #FFDD2D;
  --border-color: #FFFFFF33;
  --light-bg: #FFFFFF0A;
  --text-color: rgba(255, 255, 255, 0.9);
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("../fonts/Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gilroy";
  font-size: 20px;
  background: var(--main-color);
  color: var(--text-color);
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.yellow-text {
  color: var(--yellow);
}

.btn {
  font-family: "ProximaNova";
  font-size: 18px;
  padding: 20px 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.arrow-btn {
  display: flex;
  align-items: center;
  font-family: "ProximaNova";
  font-size: 18px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 950px;
  }
  .btn {
    font-size: 15px;
    padding: 18px 25px;
    border-radius: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 708px;
  }
  .btn {
    font-size: 15px;
    padding: 18px 25px;
    border-radius: 15px;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 330px;
  }
  .wrapper {
    overflow: hidden;
    height: auto;
  }
  .btn {
    font-size: 14px;
    padding: 16px 25px;
    border-radius: 15px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 330px;
    padding: 0px 15px 0px 15px;
  }
  .wrapper {
    overflow: hidden;
    height: auto;
  }
  .btn {
    font-size: 14px;
    padding: 16px 25px;
    border-radius: 15px;
  }
}