.footer {
   padding: 25px 0px;
   border-top: 1px solid var(--border-color);
   background: var(--light-bg);

   &__row {
   }

   &__wrap{
      padding-bottom: 30px;
      border-bottom: 1px solid var(--border-color);
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
   }

   &__logo-img {
   }

   &__nav{
      display: flex;
      gap: 40px;

      &_subnav{
         gap: 30px;
      }
   }

   &__subtop{
      margin-top: 7px;
      display: flex;
      justify-content: center;
   }

   &__link {
      font-family: 'ProximaNova';
      color: var(--white-color);
      font-size: 18px;
      transition: color 0.35s ease;

      &:hover{
         color: var(--yellow);
      }

      &_sub{
         font-family: 'Gilroy';
         color: var(--white-color);
         opacity: 0.7;
         transition: opacity 0.2s linear;
   
         &:hover{
            color: var(--white-color);
            opacity: 1;
         }
      }
   }

   &__social {
      display: flex;
      gap: 15px;

      &_mob{
         display: none;
      }
   }

   &__icon {
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 35px;
   }

   &__copywright {
      color: rgba(255, 255, 255, 0.6);
   }

   &__mail {
      color: var(--white-color);
      transition: color 0.35s ease;
      color: rgba(255, 255, 255, 0.6);

      &:hover{
         color: rgba(255, 255, 255, 1);
      }
   }

   &__privacy {
      color: var(--white-color);
      transition: color 0.35s ease;
      color: rgba(255, 255, 255, 0.6);

      &:hover{
         color: rgba(255, 255, 255, 1);
      }
   }
}


@media (max-width: 1440px) {
   .footer{
      &__wrap{
         padding-bottom: 25px;
      }

      &__link{
         font-size: 16px;
      }

      &__copywright{
         font-size: 16px;
      }

      &__mail{
         font-size: 16px;
      }

      &__privacy{
         font-size: 16px;
      }

      &__bottom{
         padding-top: 25px;
      }
   }
}

@media (max-width: 1024px) {
   .footer{
      &__wrap{
         padding-bottom: 25px;
      }

      &__top {
         flex-direction: column;
         gap: 25px;
         justify-content: space-between;
         align-items: center;
      }

      &__subtop{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 25px;
         margin-top: 20px;
      }

      &__link{
         font-size: 16px;
      }

      &__social {
         display: none;
         gap: 15px;

         &_mob{
            display: flex;
         }
      }

      &__icon {
         display: flex;
         width: 40px;
         height: 40px;
      }

      &__copywright{
         font-size: 16px;
      }

      &__mail{
         font-size: 16px;
      }

      &__privacy{
         font-size: 16px;
      }

      &__bottom{
         flex-direction: column;
         align-items: center;
         gap: 10px;
         padding-top: 25px;
      }
   }
}


@media (max-width: 450px) {
   .footer{
      &__wrap{
         padding-bottom: 25px;
         gap: 20px;
      }

      &__top {
         flex-direction: column;
         gap: 25px;
         justify-content: space-between;
         align-items: center;
      }

      &__nav{
         flex-direction: column;
         align-items: center;
         gap: 15px;
      }

      &__subtop{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 25px;
         margin-top: 20px;
      }

      &__link{
         font-size: 14px;
      }

      &__social {
         display: none;
         gap: 15px;

         &_mob{
            display: flex;
         }
      }

      &__icon {
         display: flex;
         width: 40px;
         height: 40px;
      }

      &__copywright{
         font-size: 14px;
      }

      &__mail{
         font-size: 14px;
      }

      &__privacy{
         font-size: 14px;
      }

      &__bottom{
         flex-direction: column;
         align-items: center;
         gap: 10px;
         padding-top: 25px;
      }
   }
}