.header {
   display: flex;
   align-items: center;
   padding: 0px 40px 0px 40px;
   margin: 0px auto;
   width: 1530px;
   position: fixed;
   top: 40px;
   left: 0%;
   right: 0%;
   z-index: 100;
   border: 1px solid var(--border-color);
   border-radius: 25px;
   font-family: 'ProximaNova';
   font-weight: 700;
   box-shadow: 0px 4px 4px #00000040;
   transition: all 0.5s;

   &__row {
      display: flex;
      padding: 25px 0px 25px 0px;
      width: 100%;
      max-width: 1530px;
      justify-content: space-between;
      align-items: center;
      margin: 0px auto;
   }

   &__logo {
   }

   &__nav {
      display: flex;
      gap: 40px;
   }

   &__nav-list {
      display: flex;
      width: 100%;
      gap: 40px;
   }

   &__nav-list li{
      position: relative;
   }

   &__nav-list>li:hover .header__sub-nav-list{
      display: block;
   }

   &__nav-list>li:hover ._yellow-link{
      color: var(--yellow);
   }

   &__nav-list>li:hover .link-svg{
      transform: rotate(180deg);
      stroke: var(--yellow);
   }

   .link-wrap{
      display: flex;
      align-items: center;
   }

   .link-svg{
      margin-left: 5px;
      transition: all 0.2s linear;
   }

   &__sub-nav-list{
      display: none;
      position: absolute;
      left: -15px;
      top: 20px;
      padding: 15px 0px 0px 0px;
      width: 200px;
   }

   .nav-list-wrap>li{
      padding-bottom: 10px;
      border-bottom: 1px solid var(--border-color);
   }

   .nav-list-wrap>li:last-child{
      padding-bottom: 0px;
      border-bottom: none;
   }

   .nav-list-wrap{
      display: flex;
      flex-direction: column;
      gap: 8px;
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding: 15px;
      background-color: var(--main-color);
   }

   ._sub-link{
      font-family: "Gilroy";
      color: #FFFFFF;
      opacity: 0.7;
      transition: opacity 0.3s linear;
   }

   ._sub-link:hover{
      font-family: "Gilroy";
      color: #FFFFFF;
      opacity: 1;
   }

   &__link {
      color: var(--white-color);
      font-size: 18px;
      transition: color 0.35s ease;

      &:hover{
         color: var(--yellow);
      }
   }

   &__btns {
      display: flex;
      gap: 20px;
   }

   &__btn {
      color: var(--white-color);
      font-size: 16px;
      border-radius: 15px;
   }
}

.burger {
   display: none;
}

.burger-menu{
   display: none;
}


.header._fixed{
   width: 100%;
   border-radius: 0px;
   border-top-color: #FFFFFF00;
   border-left-color: #FFFFFF00;
   border-right-color: #FFFFFF00;
   transform: translateY(-40px);
   backdrop-filter: blur(4px);
}

.btn-lang {
   border: 2px solid var(--white-color);
   padding: 15px 15px;
   transition: all 0.35s ease;

   &:hover{
      color: var(--yellow);
      border-color: var(--yellow);
   }
}
.btn-yellow {
   border: 2px solid var(--yellow);
   padding: 15px 25px;
   color: var(--yellow);
   transition: all 0.35s ease;

   &:hover{
      background: var(--yellow);
      color: var(--main-color);
   }
}


@media (max-width: 1440px) {
   .header{
      width: 1170px;
      padding: 0px 30px 0px 30px;
      top: 30px;

         &__link {
            display: block;
            font-size: 16px;
         }

         &__row{
            max-width: 1170px;
            padding: 20px 0px 20px 0px;
         }
      }

      .btn-lang {
         padding: 14px 14px;
         font-size: 14px;
      }

      .btn-yellow {
         padding: 14px 24px;
         font-size: 14px;
      }
   }


@media (max-width: 1024px) {
   .header{
      width: 950px;
      padding: 0px 20px 0px 20px;
   
      &__link {
         display: block;
         font-size: 15px;
      }
   
      &__row{
         max-width: 950px;
      }
   }
   
   .btn-lang {
      padding: 14px 14px;
      font-size: 14px;
   }
   
   .btn-yellow {
      padding: 14px 24px;
      font-size: 14px;
   }

   .header._fixed{
      transform: translateY(-30px);
   }
}


@media (max-width: 768px) {
   .header{
      width: 708px;
      padding: 0px 20px 0px 20px;
      z-index: 101;
      top: 0;
      width: 100%;
      border-radius: 0px;
      border-top-color: #FFFFFF00;
      border-left-color: #FFFFFF00;
      border-right-color: #FFFFFF00;
   
      &__link {
         display: block;
         font-size: 15px;
         font-size: 22px;
      }
   
      &__row{
         max-width: 708px;
      }

      &__nav {
         display: none;
         gap: 40px;
      }

      &__nav-list{
         flex-direction: column;
         align-items: center;
         gap: 20px;
      }

      &__btns{
         display: none;
         flex-grow: 1;
         align-items: end;
         gap: 15px;
         margin-top: 30px;

         &_mob{
            display: flex;
         }
      }
   }
   
   .btn-lang {
      padding: 14px 14px;
      font-size: 14px;
   }
   
   .btn-yellow {
      padding: 14px 24px;
      font-size: 14px;
   }

   .header._fixed{
      transform: translateY(-0px);
   }

   .burger{
      display: block;
      position: relative;
      width: 30px;
      height: 16px;
      cursor: pointer;
   }

   .burger span,
   .burger::before,
   .burger::after{
      left: 0;
      position: absolute;
      height: 13%;
      width: 100%;
      border-radius: 50px;
      transition: all 0.3s ease;
      background-color: var(--yellow);
   }

   .burger::before,
   .burger::after{
      content: "";
   }

   .burger span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .burger::before{
      top: 0;
   }

   .burger::after{
      bottom: 0;
   }

   .burger._active span{
      transform: scale(0) translate(0px, -50%);
   }

   .burger._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .burger._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   .burger-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      left: -100%;
      padding: 94px 0px 20px 0px;
      height: 100vh;
      width: 100%;
      z-index: 100;
      background: #1A1A1A;
      transition: all 0.5s ease;
      opacity: 0.98;
      backdrop-filter: blur(3px);
      overflow: auto;
   }

   .burger-menu._active{
      left: 0;
   }
   
   .social-btns{
      margin-top: 30px;
   }

   .header-ic{
      width: 60px;
      height: 60px;
   }

   .btn-yellow {
      border: 0px solid var(--yellow);
      padding: 18px 25px;
      font-family: 'ProximaNova';
      color: var(--main-color);
      transition: all 0s ease;
      background: linear-gradient(90deg, #FFDD2D, #FFC42D);
   
      &:hover{
         background: var(--yellow);
         color: var(--main-color);
      }
   }

   .btn-lang {
      border: 1px solid var(--yellow);
      padding: 18px 20px;
      transition: all 0.35s ease;
      color: var(--yellow);
      font-family: 'ProximaNova';

      &:hover{
         color: var(--yellow);
         border-color: var(--yellow);
      }
   }
}
