@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Roboto:wght@400;500&display=swap');

@import '_nullstyle';
@import '_first-screen';
@import '_header';
@import '_cooperate';
@import '_services';
@import '_titles';
@import '_banner';
@import '_results';
@import '_projects';
@import '_steps';
@import '_footer';
@import '_questions';
@import '_modals-forms';

:root{
   --main-color: #1A1A1A;
   --white-color: #fff;
   --yellow: #FFDD2D;
   --border-color: #FFFFFF33;
   --light-bg: #FFFFFF0A;
   --text-color: rgba(255, 255, 255, 0.9);
}



@font-face {
   font-family: 'ProximaNova';
   src: url('../fonts/ProximaNova-Bold.eot');
   src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
      url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Regular.eot');
   src: local('Gilroy Regular'), local('../fonts/Gilroy-Regular'),
      url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

body{
font-family: 'Gilroy';
font-size: 20px;
background: var(--main-color);
color: var(--text-color);
overflow-x: hidden;
}

body._lock{
   overflow: hidden;
}

.popup-link{
   .popup-title{
      display: none!important;
   }
}

.container{
   max-width: 1530px;
   margin: 0 auto;
}

.wrapper{
   width: 100vw;
   height: 100vh;
}


.yellow-text{
   color: var(--yellow);
}

.btn {
   font-family: 'ProximaNova';
   font-size: 18px;
   padding: 20px 30px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
}

.arrow-btn{
   display: flex;
   align-items: center;
   font-family: 'ProximaNova';
   font-size: 18px;
}

.fixed-tg-link{
   position: fixed;
   width: 56px;
   height: 56px;
   bottom: 4%;
   right: 2%;
   transition: scale 0.3s ease;

   &:hover{
      scale: 1.1;
   }
}

.bg-blur-1{
   position: absolute;
   top: -60%;
   left: -30%;
   width: 55vw;
   height: 55vw;
   transform: rotate(45deg);
   background: linear-gradient(270deg, rgba(127, 94, 255, 0), rgba(127, 94, 255, 0.1), rgba(127, 94, 255, 0.2), rgba(127, 94, 255, 0.3), rgba(127, 94, 255, 0.4));
}

.bg-blur-circle{
   position: absolute;
   top: 220px;
   right: -42%;
   width: 40vw;
   height: 40vw;
   border-radius: 50%;
   background: rgba(137, 45, 255, 0.3);
   filter: blur(200px);
}

.circ-2{
   top: 2180px;
   right: -42%;
}

.orng{
   background: rgba(255, 95, 45, 0.3);
   top: 1915px;
   left: -42%;
}

.orng-2{
   background: rgba(255, 95, 45, 0.3);
   top: 3250px;
   left: -42%;
}

.circ-3{
   top: 3850px;
   right: -42%;
}

.circ-4{
   top: 6000px;
   right: -42%;
}

.yellow{
   background: rgba(255, 221, 45, 0.3);
   top: 6350px;
   left: -42%;
}

@media (max-width: 1440px) {
   .container{
      max-width: 1170px;
   }

   .bg-blur-circle{
      position: absolute;
      top: 220px;
      right: -40%;
      width: 40vw;
      height: 40vw;
      border-radius: 50%;
      background: rgba(137, 45, 255, 0.3);
      filter: blur(200px);
   }
   
   .circ-2{
      top: 1950px;
      right: -40%;
   }
   
   .orng{
      background: rgba(255, 95, 45, 0.3);
      top: 1700px;
      left: -40%;
   }
   
   .orng-2{
      background: rgba(255, 95, 45, 0.3);
      top: 2800px;
      left: -42%;
   }
   
   .circ-3{
      top: 3250px;
      right: -42%;
   }
   
   .circ-4{
      top: 4900px;
      right: -42%;
   }
   
   .yellow{
      background: rgba(255, 221, 45, 0.3);
      top: 5450px;
      left: -42%;
   }
}

@media (max-width: 1024px) {
   .container{
      max-width: 950px;
   }

   .fixed-tg-link{
      position: fixed;
      width: 48px;
      height: 48px;
      bottom: 4%;
      right: 5%;
   }

   .btn {
      font-size: 15px;
      padding: 18px 25px;
      border-radius: 10px;
   }
}

@media (max-width: 768px) {
   .container{
      max-width: 708px;
   }

   .btn {
      font-size: 15px;
      padding: 18px 25px;
      border-radius: 10px;
   }
}

@media (max-width: 450px) {
   .container{
      width: 100%;
      padding: 0px 15px 0px 15px;
   }

   .fixed-tg-link{
      position: fixed;
      width: 36px;
      height: 36px;
      bottom: 4%;
      right: 8%;
   }

   .wrapper{
      overflow: hidden;
      height: auto;
   }

   .btn {
      font-size: 14px;
      padding: 16px 25px;
      border-radius: 10px;
   }
}

@media (max-width: 320px) {
   .container{
      padding: 0px 15px 0px 15px;
   }

   .wrapper{
      overflow: hidden;
      height: auto;
   }

   .btn {
      font-size: 14px;
      padding: 16px 25px;
      border-radius: 10px;
   }
}