@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Roboto:wght@400;500&display=swap');

@import '_nullstyle';
@import '_first-screen';
@import '_header';
@import '_cooperate';
@import '_services';
@import '_titles';
@import '_banner';
@import '_results';
@import '_projects';
@import '_steps';
@import '_footer';
@import '_questions';

:root{
   --main-color: #1A1A1A;
   --white-color: #fff;
   --yellow: #FFDD2D;
   --border-color: #FFFFFF33;
   --light-bg: #FFFFFF0A;
   --text-color: rgba(255, 255, 255, 0.9);
}



@font-face {
   font-family: 'ProximaNova';
   src: url('../fonts/ProximaNova-Bold.eot');
   src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
      url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Regular.eot');
   src: local('Gilroy Regular'), local('../fonts/Gilroy-Regular'),
      url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

body{
font-family: 'Gilroy';
font-size: 20px;
background: var(--main-color);
color: var(--text-color);
}

.container{
   max-width: 1530px;
   margin: 0 auto;
}

.wrapper{
   width: 100%;
   height: 100%;
}


.yellow-text{
   color: var(--yellow);
}

.btn {
   font-family: 'ProximaNova';
   font-size: 18px;
   padding: 20px 30px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
}

.arrow-btn{
   display: flex;
   align-items: center;
   font-family: 'ProximaNova';
   font-size: 18px;
}

@media (max-width: 1440px) {
   .container{
      max-width: 1170px;
   }
}

@media (max-width: 1024px) {
   .container{
      max-width: 950px;
   }

   .btn {
      font-size: 15px;
      padding: 18px 25px;
      border-radius: 15px;
   }
}

@media (max-width: 768px) {
   .container{
      max-width: 708px;
   }

   .btn {
      font-size: 15px;
      padding: 18px 25px;
      border-radius: 15px;
   }
}

@media (max-width: 450px) {
   .container{
      max-width: 330px;
   }

   .wrapper{
      overflow: hidden;
      height: auto;
   }

   .btn {
      font-size: 14px;
      padding: 16px 25px;
      border-radius: 15px;
   }
}